---
# The systems have to have these repos in the content view.
- name: "Clean dnf metadata"
  ansible.builtin.command: "dnf clean all"
  register: dnf_clean_result
  changed_when: dnf_clean_result.rc == 0

- name: "Ensure python 3.9 module is reset"
  ansible.builtin.command: "dnf -y module reset python39"
  register: dnf_reset_result
  changed_when: dnf_reset_result.rc == 0

- name: "Ensure python 3.9 module is enabled"
  ansible.builtin.command: "dnf -y module enable python39:3.9"
  register: dnf_enable_result
  changed_when: dnf_enable_result.rc == 0

- name: "Ensure python 3.9 is installed"
  ansible.builtin.command: "dnf -y module install python39:3.9/common"
  register: dnf_install_result
  changed_when: dnf_install_result.rc == 0

- name: Ensure repos are available on RHEL 8
  community.general.rhsm_repository:
    name:
      - "{{ epel8_rpms_repo_name }}"
      - "{{ epel8_streams_repo_name }}"
  when: ansible_distribution_major_version == "8"

- name: Ensure repos are available on RHEL 9
  community.general.rhsm_repository:
    name:
      - "{{ epel9_rpms_repo_name }}"
      - "{{ epel9_streams_repo_name }}"
  when: ansible_distribution_major_version == "9"

- name: Install Firewalld
  ansible.builtin.yum:
    name: firewalld
    state: present

- name: Firewalld service state
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true
