---
# Perform the power action
# one of powered-off, powered-on, reboot-guest, restarted, shutdown-guest, suspended, present (default == powered-on)
- name: "Set environment. Target power state: {{ power_action_target_state }}"
  ansible.builtin.set_fact:
    power_action_force: false

# - name: Find Guest's Folder using name
#   community.vmware.vmware_guest_find:
#     hostname: "{{ vcenter_hostname }}"
#     username: "{{ vcenter_username }}"
#     password: "{{ vcenter_password }}"
#     name: "{{ host.name }}"
#     validate_certs: "{{ vmware_validate_certs }}"
#   register: vm_folder

- name: "Set state"
  when: power_action_target_state == "powered-on"
  ansible.builtin.set_fact:
    power_action_force: true

- name: "Power Action is setting power state: {{ power_action_target_state }} for host: {{ host.name }}" # noqa: name[template]
  vmware.vmware.vm_powerstate:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    datacenter: "{{ datacenter_name }}"
    folder: "{{ datacenter_folder }}"
    name: "{{ host.name }}"
    state: "{{ power_action_target_state }}"
    force: "{{ power_action_force }}"
    validate_certs: "{{ vmware_validate_certs }}"
