---
# do the actual snapshot action - one of present, absent, revert, remove_all

- name: "Snapshot Action is setting snapshot state: {{ snapshot_target_state }} for host: {{ host.name }}" # noqa: name[template]
  
  vmware.vmware.vm_snapshot:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    datacenter: "{{ datacenter_name }}"
    folder: "{{ datacenter_folder }}"
    name: "{{ host.name }}"
    state: "{{ snapshot_target_state }}"
    snapshot_name: "{{ host.snap_name | default(omit) }}"
    description: "{{ host.snap_description | default(omit) }}"
    quiesce: "{{ host.quiesce | default(omit) }}"
    validate_certs: "{{ vmware_validate_certs }}"
