---
- name: "Ensure that the log file exists"
  ansible.builtin.file:
    name: "/var/log/mariadb/mariadb.log"
    state: touch
    owner: "mysql"
    group: "mysql"
    mode: "0640"

# If switch the socket to a more secure directory
- name: "Ensure that the runtime directory exists"
  ansible.builtin.file:
    name: "/var/run/mysqld/"
    state: directory
    owner: "mysql"
    group: "mysql"
    mode: "0750"

- name: "Deploy the Mysql configuration file"
  ansible.builtin.template:
    src: "my.cnf.j2"
    dest: "/etc/my.cnf.d/mariadb-server.cnf"
    mode: "0644"

- name: "Ensure that MariaDB Service is enabled and running"
  ansible.builtin.service:
    name: "mariadb"
    state: "started"
    enabled: true

- name: "Create Application Database"
  community.mysql.mysql_db:
    name: "{{ mysql_dbname }}"
    check_implicit_admin: true
    login_user: "root"
    login_unix_socket: "/var/lib/mysql/mysql.sock"
    config_file: "/etc/my.cnf.d/mariadb-server.cnf"
    state: "present"

- name: "Create Application DB User"
  community.mysql.mysql_user:
    name: "{{ mysql_username }}"
    password: "{{ mysql_password }}"
    check_implicit_admin: true
    login_user: "root"
    login_unix_socket: "/var/lib/mysql/mysql.sock"
    config_file: "/etc/my.cnf.d/mariadb-server.cnf"
    sql_log_bin: "{{ mysql_sql_log_bin }}"
    priv: "{{ mysql_user_priv }}"
    state: present

- name: "Copy the sample database build files"
  ansible.builtin.copy:
    src: files/{{ item }}
    dest: /root/{{ item }}
    mode: "0644"
  loop:
    - nation.sql

- name: "Create and Populate the sample database"
  community.mysql.mysql_db:
    state: "import"
    name: "all"
    target: "/root/nation.sql"
    check_implicit_admin: true
    login_user: "root"
    login_unix_socket: "/var/lib/mysql/mysql.sock"
    config_file: "/etc/my.cnf.d/mariadb-server.cnf"

- name: "Ensure that MariaDB Service is restarted"
  ansible.builtin.service:
    name: "mariadb"
    state: "restarted"
    enabled: true

