---

- name: "Install prerequisites"
  ansible.builtin.include_tasks: "prerequisites.yml"

- name: "Deploy the application"
  ansible.builtin.include_tasks: "deploy.yml"

- name: "Install Grafana if requested"
  when: install_grafana
  ansible.builtin.include_tasks: install_grafana.yml
