---

- name: "Install MariaDB AppStream"
  ansible.builtin.dnf:
    name:
      - "@mariadb:10.11/server"
      - "python39-PyMySQL"
      - "php-mysqlnd"
    state: "present"

- name: "Ensure python3-PyMySQL is really, really there. Because apparently its not"
  ansible.builtin.command: "pip3 install PyMySQL"
  register: pip_result
  changed_when: pip_result.rc == 0

- name: "Configure SELinux to allow mysql port {{ mysql_port }}"
  when: ansible_distribution_major_version == "8"
  ansible.builtin.command:
    cmd: "semanage port -a -t mysqld_port_t -p tcp {{ mysql_port }}"
  register: seport_result
  changed_when: seport_result.rc == 0

- name: "Configure SELinux to allow mysql port {{ mysql_port }}"
  when: ansible_distribution_major_version > "8"
  ansible.builtin.include_role:
    name: "redhat.rhel_system_roles.selinux"
  vars:
    selinux_ports:
      - ports: "{{ mysql_port }}"
        proto: "tcp"
        setype: "mysqld_port_t"
        state: "present"


- name: "Ensure the proper log directory"
  ansible.builtin.file:
    path: "/var/log/mysqld/"
    state: "directory"
    owner: "mysql"
    group: "mysql"
    mode: "0644"

- name: "Ensure the proper pid directory"
  ansible.builtin.file:
    path: "/var/run/mysqld/"
    state: "directory"
    owner: "mysql"
    group: "mysql"
    mode: "0644"

- name: "Ensure MariaDB Service starts at boot"
  ansible.builtin.service:
    name: "mariadb"
    state: "started"
    enabled: true

- name: "Ensure firewalld running"
  ansible.builtin.service:
    name: "firewalld"
    state: "started"
    enabled: true

- name: Ensure python3-firewall is installed
  ansible.builtin.dnf:
    name: python3-firewall
    state: present

- name: "Add firewall rules"
  ansible.posix.firewalld:
    port: "{{ mysql_port }}/tcp"
    permanent: true
    immediate: true
    state: "enabled"
  vars:
    ansible_python_interpreter: /bin/python3
