---

- name: "Ensure that the log file exists"
  ansible.builtin.file:
    name: "/var/log/mariadb/mariadb.log"
    state: touch
    owner: "mysql"
    group: "mysql"
    mode: "0640"

# If switch the socket to a more secure directory
- name: "Ensure that the runtime directory exists"
  ansible.builtin.file:
    name: "/var/run/mysqld/"
    state: directory
    owner: "mysql"
    group: "mysql"
    mode: "0750"

- name: "Deploy the Mysql configuration file"
  ansible.builtin.template:
    src: "my.cnf.j2"
    dest: "/etc/my.cnf.d/mariadb-server.cnf"
    mode: "0644"

- name: "Ensure that MariaDB Service is enabled and running"
  ansible.builtin.service:
    name: "mariadb"
    state: "started"
    enabled: true
