---
# Install prerequeiste packages and configuration

- name: "Install MariaDB packages for RHEL9"
  when: ansible_distribution_major_version == "9"
  ansible.builtin.dnf:
    name:
      - "mariadb-server"
      - "MySQL-python"
    state: "present"

- name: Install MariaDB AppStreams for RHEL 8
  when: ansible_distribution_major_version == "8"
  ansible.builtin.dnf:
    name:
      - "@mariadb:10.3/server"
    state: present

# - name: Ensure Python3 is the default python on RHEL8 because sample app is old
#   ansible.builtin.command: "alternatives --set python /usr/bin/python3"
#   when: ansible_distribution_major_version == "8"
- name: Install python3-PyMySQL
  ansible.builtin.command: "pip3 install PyMySQL"
  register: pip_result
  changed_when: pip_result.rc == 0

- name: Ensure firewalld has been started in order to add rules
  ansible.builtin.service:
    name: "firewalld"
    state: "started"
    enabled: true

- name: "Add firewall rule for mysql port {{ mysql_port }}"
  ansible.posix.firewalld:
    port: "{{ mysql_port }}/{{ mysql_port_protocol }}"
    permanent: true
    immediate: true
    state: "enabled"

- name: "Configure SELinux to allow mysql port {{ mysql_port }}"
  ansible.builtin.run_role: "redhat.rhel_system_roles.selinux"
  vars:
    selinux_ports:
      - ports: "{{ mysql_port }}"
        proto: "{{ mysql_port_protocol }}"
        setype: "mysqld_port_t"
        state: "present"
  